*{
    padding:0;
    margin: 5px;
    box-sizing: border-box;
}

body
{
     background-image: url("./Background.png");
}

.body-wrapper
{
    display: flex;
    padding:20px;
    justify-content: space-around;
    flex-direction: row;
    font-size: 110%;
}

.about
{
    font-size: 200%;
}

.logo
{
    text-align: left;
    position:relative;
    bottom: 40px;
}

.menu
{
    color: white;
    text-align: right;
    font-size: 200%;
}

table
{   
    border-spacing: 30px;
}